[tool.poetry]
name = "tap-pushbullet"
version = "0.0.0"
description = "`tap-pushbullet` is a Singer tap for Pushbullet, built with the Meltano SDK for Singer Taps."
authors = ["Edgar Ramírez-Mondragón <edgarrm358@gmail.com>"]
keywords = [
  "ELT",
  "singer.io",
  "Pushbullet",
]
license = "Apache 2.0"
readme = "README.md"
homepage = "https://github.com/edgarrmondragon/tap-pushbullet"
repository = "https://github.com/edgarrmondragon/tap-pushbullet"
documentation = "https://github.com/edgarrmondragon/tap-pushbullet#readme"

[tool.poetry.dependencies]
python = ">=3.8,<4"
requests-cache = ">=1.1.0,<2"
singer-sdk = "~=0.33.0"

[tool.poetry.dev-dependencies]
singer-sdk = { version = "*", extras = ["testing"] }

[tool.pytest.ini_options]
addopts = "-vvv"

[tool.mypy]
python_version = "3.10"
warn_unused_configs = true

[[tool.mypy.overrides]]
ignore_missing_imports = true
module = ["backoff.*"]

[build-system]
build-backend = "poetry.core.masonry.api"
requires = [
  "poetry-core<2,>=1",
  "poetry-dynamic-versioning",
]

[tool.poetry.scripts]
# CLI declaration
"tap-pushbullet" = "tap_pushbullet.tap:TapPushbullet.cli"

[tool.ruff]
ignore = [
  "ANN101",  # missing-type-self
  "DJ",      # flake8-django
  "PD",      # pandas-vet
]
line-length = 88
select = ["ALL"]
src = ["tap_pushbullet", "tests"]
target-version = "py38"

[tool.ruff.per-file-ignores]
"src/*" = ["PD"]
"tests/*" = ["ANN201", "S101"]

[tool.ruff.flake8-quotes]
docstring-quotes = "double"
inline-quotes = "double"
multiline-quotes = "double"

[tool.ruff.flake8-annotations]
allow-star-arg-any = true
mypy-init-return = true
suppress-dummy-args = true

[tool.ruff.flake8-errmsg]
max-string-length = 30

[tool.ruff.flake8-pytest-style]
fixture-parentheses = false
mark-parentheses = false

[tool.ruff.isort]
known-first-party = ["citric"]

[tool.ruff.mccabe]
max-complexity = 5

[tool.ruff.pydocstyle]
convention = "google"

[tool.poetry-dynamic-versioning]
enable = true
format-jinja = """
    {%- if distance == 0 -%}
        {{ serialize_pep440(base, stage, revision) }}
    {%- elif revision is not none -%}
        {{ serialize_pep440(base, stage, revision + 1, dev=distance, metadata=[commit]) }}
    {%- else -%}
        {{ serialize_pep440(bump_version(base), stage, revision, dev=distance, metadata=[commit]) }}
    {%- endif -%}
"""
metadata = true
style = "pep440"
vcs = "git"
