[tool.poetry]
name = "tap-pushbullet"
version = "0.0.1"
description = "`tap-pushbullet` is a Singer tap for Pushbullet, built with the Meltano SDK for Singer Taps."
authors = ["Edgar Ramírez-Mondragón <edgarrm358@gmail.com>"]
keywords = [
  "ELT",
  "singer.io",
  "Pushbullet",
]
license = "Apache 2.0"
readme = "README.md"
homepage = "https://github.com/edgarrmondragon/tap-pushbullet"
repository = "https://github.com/edgarrmondragon/tap-pushbullet"
documentation = "https://github.com/edgarrmondragon/tap-pushbullet#readme"

[tool.poetry.dependencies]
python = "<3.12,>=3.7.1"
requests-cache = "^1.0.1"
singer-sdk = "0.28.0"

[tool.poetry.dev-dependencies]
pytest = "^7.3.2"

[tool.isort]
profile = "black"
multi_line_output = 3 # Vertical Hanging Indent
use_parentheses = true
include_trailing_comma = true
src_paths = "tap_pushbullet"
known_first_party = "tap_pushbullet"
add_imports = [
  "from __future__ import annotations",
]

[tool.pytest.ini_options]
addopts = "-vvv"

[tool.mypy]
python_version = "3.10"
warn_unused_configs = true

[[tool.mypy.overrides]]
ignore_missing_imports = true
module = ["backoff.*"]

[build-system]
requires = ["poetry-core>=1,<2"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.scripts]
# CLI declaration
"tap-pushbullet" = "tap_pushbullet.tap:TapPushbullet.cli"

[tool.ruff]
ignore = [
  "ANN101",  # missing-type-self
  "DJ",      # flake8-django
  "PD",      # pandas-vet
]
line-length = 88
select = ["ALL"]
src = ["tap_pushbullet", "tests"]
target-version = "py37"

[tool.ruff.per-file-ignores]
"src/*" = ["PD"]
"tests/*" = ["ANN201", "S101"]

[tool.ruff.flake8-quotes]
docstring-quotes = "double"
inline-quotes = "double"
multiline-quotes = "double"

[tool.ruff.flake8-annotations]
allow-star-arg-any = true
mypy-init-return = true
suppress-dummy-args = true

[tool.ruff.flake8-errmsg]
max-string-length = 30

[tool.ruff.flake8-pytest-style]
fixture-parentheses = false
mark-parentheses = false

[tool.ruff.isort]
known-first-party = ["citric"]

[tool.ruff.mccabe]
max-complexity = 5

[tool.ruff.pydocstyle]
convention = "google"
